.header {
  display: flex;
  font-family: "Raleway", sans-serif;
  width: 1900px;
  height: 45px;
  background-color: bisque;
}

.header__group img {
  width: 30px;
  height: 30px;
  background-color: black;
  margin-left: 500px;
}

.header__navmenu_left {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}
/* .header__container {
  display: flex;
  justify-content: space-around;
  gap: 60px;
} */

.header__logo {
  background-color: black;
  display: flex;
  gap: 70px;
}

.ru img {
  background-color: black;
}
